<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DatabaseServer" value="ekkawitl.cmspp4j0ajle.ap-southeast-2.rds.amazonaws.com" />
    <add key="Database" value="application" />
    <add key="DatabaseUsername" value="root" />
    <add key="DatabasePassword" value="password" />
    <add key="LogName" value="FindStock" />
  </appSettings>
</configuration>